media/
assets/*.mp4
assets/*.ogg
assets/*.flv
assets/*.png
assets/*.jpg
back/cache_dir/annotations/*
back/cache_dir/*.json
back/config.json
player-imgs/temp/
player-imgs/embed-bgs/user-gen/*
relay/relay-script/config.json
relay/relay-script/userdata.json
mobile/*.mp4
mobile/*.3gp
mobile/*.ogg