# yt2009 temp assets, things that change over time
media/
assets/*.mp4
assets/*.ogg
assets/*.flv
assets/*.png
assets/*.jpg
assets/*.3gp
assets/*.mp3
back/cache_dir/annotations/*
back/cache_dir/*.json
back/config.json
player-imgs/temp/
player-imgs/embed-bgs/user-gen/*
relay/relay-script/config.json
relay/relay-script/userdata.json
mobile/*.mp4
mobile/*.3gp
mobile/*.ogg
changelogs/*.txt

# yt assets
master-vfl121679.png
video_bar_arrows-vfl84478.png
favicon.ico
assets/site-assets/active_sharing_on-vfl70992.png
assets/site-assets/activity_indicator-vfl120761.gif
assets/site-assets/annotations_editor_switch-vfl78622.gif
assets/site-assets/annotations_icon-vfl78622.gif
assets/site-assets/arrow_dropdown-vfl29016.gif
assets/site-assets/autoshare-vfl137249.png
assets/site-assets/background-drop-fade-vfl85178.gif
assets/site-assets/badge_annotate-vfl55396.gif
assets/site-assets/badge_cc_domestic-vfl55396.gif
assets/site-assets/badge_cc_intl-vfl55396.gif
assets/site-assets/badge_featurelength-vfl55396.gif
assets/site-assets/but-bck-vfl33160.png
assets/site-assets/button_icons-vfl72305.png
assets/site-assets/cart_icons-vfl115610.png
assets/site-assets/channel_iconset-vfl65968.gif
assets/site-assets/channel-bg-sprites-vfl91176.png
assets/site-assets/channel-sprites-vfl115627.gif
assets/site-assets/close-vfl69806.png
assets/site-assets/contentid-cm-logo-vfl85500.jpg
assets/site-assets/contentid-tick-vfl85500.jpg
assets/site-assets/creatorscorner-vfl114850.png
assets/site-assets/drop_shadow-vfl111653.png
assets/site-assets/embed_selection-vfl81006.png
assets/site-assets/faketrans-vfl35975.gif
assets/site-assets/flags-vfl57703.gif
assets/site-assets/forums_master-vfl68068.gif
assets/site-assets/icn_loading_animated-vfl24663.gif
assets/site-assets/img_about_toexternal_14x9-vfl35309.gif
assets/site-assets/iyt-vfl105161.png
assets/site-assets/logo_content-id_352x109-vfl100716.png
assets/site-assets/master_old-vfl72391.gif
assets/site-assets/mmgrads-vfl38740.gif
assets/site-assets/mmimgs-vfl38740.gif
assets/site-assets/pic_ytlogo_58x20-vfl124299.gif
assets/site-assets/pixel-vfl73.gif
assets/site-assets/play_all_small-vfl82345.png
assets/site-assets/playlist_row_deleter-vfl69806.png
assets/site-assets/profile-vfl30243.gif
assets/site-assets/sel-bck-omar-vfl34546.png
assets/site-assets/sharing_icons-vfl84489.png
assets/site-assets/silver-grad-vfl35285.png
assets/site-assets/stars_5.0_49x9-vfl84759.gif
assets/site-assets/ugcpromo_tagline_bg-vfl91176.gif
assets/site-assets/video_bar_arrows-vfl84478.png
assets/site-assets/video_cluster_180_border-vfl88394.png
assets/site-assets/yt-narrative-tail-vfl55396.gif