<content>
	<failsafecounter>5,347,008</failsafecounter>
	<comments>
		<c1_mc username="robertduyvn" usernamelink="http://www.youtube.com/user/robertduyvn" time="(1 hour ago)">wow..amazing...how u do? that?????</c1_mc>
		<c2_mc username="animekitty510" usernamelink="http://www.youtube.com/user/animekitty510" time="(4 hours ago)">I think I broked the interwebs D:</c2_mc>
	</comments>
</content>